# Secretos — NUNCA subir al repo
.env

# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Streamlit
.streamlit/secrets.toml

# Archivos generados
*.mid

# IDEs
.vscode/
.idea/